<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Compras</title>
</head>
<body>
    <h1>Lista de Compras</h1>

    <table border="1" style="width: 50%; margin: auto; text-align: center;">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Comprado</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.number }}</td>
                <td>
                    <input type="checkbox" {% if item.purchased %}checked{% endif %} disabled>
                </td>
                <td>
                    <form method="POST" action="{{ url_for('delete_item', item_id = item.id) }}">
                        <button type="submit">Del</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('add_item') }}">Agregar un artículo</a>
</body>
</html>