<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Compras</title>
</head>
<body>
    <h1>Lista de Compras</h1>

    
    <table border="1" style="width: 50%; margin: auto; text-align: center;">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Comprado</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                
                <td>
                    {% for item in items %}
                        <p>{{ item.name }}</p>
                    {% endfor %}
                </td>

                
                <td>
                    {% for item in items %}
                        <p>{{ item.number }}</p>
                    {% endfor %}
                </td>

                
                <td>
                    {% for item in items %}
                    <p>
                        <input type="checkbox" {% if item.purchased %}checked{% endif %} ><br>
                    </p>
                        
                    {% endfor %}
                </td>
                <td>
                    {% for item in items %}
                        <p>
                            <a href="">Del</a>
                        </p>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ url_for('add_item') }}">Agregar un artículo</a>
</body>
</html>